{% extends 'gadka_szmatka/base.html' %}

{% block content %}
<div class="container">
  <div class="card-columns mt-sm-3">
    {% for bot in bots %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ bot }}</h4>
          <p class="card-text">{{ bot.description }}</p>
          <a href="{% url 'messaging:bot-conversation-start' bot_id=bot.id %}" class="card-link">Start conversation</a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
