{% extends 'talkyo/core.html' %}
{% block body %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand">talkyo</span>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if 'conversation' in request.path %}active{% endif %}">
          <a class="nav-link" href="{% url 'conversations:conversations-list' %}">Conversations <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if 'users' in request.path %}active{% endif %}">
          <a class="nav-link" href="{% url 'users:list' %}">Friends</a>
        </li>
        <li class="nav-item {% if 'bots' in request.path %}active{% endif %}">
          <a class="nav-link" href="{% url 'bots:list' %}">Bots</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ request.user }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
          </div>
        </li>
      </ul>
      <form class="form-inline" action="{% url 'users:list' %}" method="GET">
        <input class="form-control mr-sm-2" name="query" type="search" placeholder="Name" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search for friends</button>
      </form>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
{% endblock %}
