{% extends 'gadka_szmatka/base.html' %}

{% block content %}
<div class="container">
  {% if 'query' in request.GET %}
    <div class="alert alert-light mt-sm-3" role="alert">
      Search results for <b>{{ request.GET.query }}</b>
    </div>
  {% endif %}
  <div class="card-columns mt-sm-3">
    {% for user in users %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{ user }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
          <a href="{% url 'messaging:user-conversation-start' user_id=user.id %}" class="card-link">Start conversation</a>
          {% if user in request.user.friends.all %}
            <a href="{% url 'users:friend'  user_id=user.id %}" class="card-link text-danger">Remove friend</a>
          {% else %}
            <a href="{% url 'users:friend' user_id=user.id %}" class="card-link text-success">Add friend</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
